
<div class="column is-one-quarter">
    <aside class="menu">
        {% raw leftmenu %}
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
        <p class="menu-label">
            Documentation
        </p>
        <ul class="menu-list">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Plugins</a></li>
            <li><a href="#">APIs</a></li>
        </ul>
    </aside>
</div>