<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder View : {{ title }}</title>
    <!-- Bulma CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>

    <!-- トップバー -->
    {% module Template("modules/header.html") %}

    <!-- レイアウト全体 -->
    <div class="container mt-5">
        <div class="columns">

            <!-- 左側メニュー -->
            {% module Template("modules/leftmenu.html") %}

            <!-- コンテンツエリア -->
            <div class="column">
                <div class="column">
                    <ul>
                        {% for folder in folder_structure %}
                            <li>{{ folder['name'] }}
                                {% if folder['children'] %}
                                    <ul>
                                        {% for child in folder['children'] %}
                                            <li>{{ child['name'] }}</li>
                                        {% end %}
                                    </ul>
                                {% end %}
                            </li>
                        {% end %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- フッター -->
    {% module Template("modules/footer.html") %}

</body>
</html>
