<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder View : {{ title }}</title>
    <!-- Bulma CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>

    <!-- トップバー -->
    {% module Template("modules/header.html") %}

    <!-- レイアウト全体 -->
    <div class="container mt-5">
        <div class="columns">

            <!-- 左側メニュー -->
            {% module Template("modules/leftmenu.html", leftmenu=leftmenu) %}

            <!-- コンテンツエリア -->
            <div class="column">
                <div class="column content">
                    <h1 class="title">/{{ folders['name'] }}</h1>
                    {% if len(folders['folder']) > 0 %}
                        <ul>
                            {% for f1 in folders['folder'] %}
                                <li><a href="/view/{{ altbase }}{{ f1['name'] }}">{{ f1['name'] }}</a>
                                {% if len(f1['folder']) > 0 %}
                                    <ul>
                                        {% for f2 in f1['folder'] %}
                                            <li>
                                                <a href="/view/{{ altbase }}{{ f1['name'] }}/{{ f2['name'] }}">
                                                    {{ f2['name'] }}
                                                </a>
                                            </li>
                                        {% end %}
                                    </ul>
                                </li>
                                {% else %}
                                </li>
                                {% end %}
                            {% end %}
                        </ul>
                    {% else %}
                        <p> no file or directory </p>
                    {% end %}
                </div>
            </div>
        </div>
    </div>

    <!-- フッター -->
    {% module Template("modules/footer.html") %}

</body>
</html>
