<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Bulma CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>

    <!-- トップバー -->
    {% module Template("modules/header.html") %}

    <!-- レイアウト全体 -->
    <div class="container mt-5">
        <div class="columns">

            <!-- 左側メニュー -->
            {% module Template("modules/leftmenu.html", leftmenu=leftmenu) %}

            <!-- コンテンツエリア -->
            <div class="column">
                {% if path %}
                    <a class="button" href="/edit/{{ path }}">編集</a>
                {% end %}
                <div class="content">
                    {% raw contents %}
                </div>
            </div>
        </div>
    </div>

    <!-- フッター -->
    {% module Template("modules/footer.html") %}

    {% module Template("modules/chat_overlay.html", message=None, endpoint='ws://localhost:8888/chat/ws/') %}

</body>
</html>
